.courseName {
  color: #727272;
  font-size: 15px;
}

.courseCode {
  font-size: 20px;
}

.courseNode:hover {
  cursor: pointer;
}

.react-flow__attribution {
  background: none;
  right: 10px;
}

summary:hover {
  cursor: pointer;
}

.count {
  background: white;
  color: black;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}